.navbar-links{
    color:rgb(179, 94, 94);
    font-family:Arial, Helvetica, sans-serif ;
    font-size:20px;
    font-weight:15px;
    text-align: center;
    background-color:rgb(146, 220, 238);
    padding: 15px;
    box-shadow: 2px 10px rgb rgb(64, 66, 64);
    justify-content: space-between;
    color:rgb(155, 148, 218);
    display:flex;
}
.navbar-links:hover{
    color:palevioletred;
}
.p{
    font-size: 35px;
}
.heading{
    font-size:25px ;
    color:rgb(28, 28, 41);
}

.footer{
    margin-bottom: 300px;
}
.form{
    width:420px;
    padding:20px;
    margin:30px;
    border-radius:20px;
    border:2px solid rgb(159, 177, 159);
    border-width:20px;
    background-color: white;
    box-shadow: #333;
}
.Role-text{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}
.input{
    padding:10px;
    border:solid;
}    

.label{
    font-weight:20px;
    color:cornflowerblue;
    font-size:20px;
}
body{
    background-color: antiquewhite;
}




